// Oswald is the font used by the league for many years its licenced under the SIL OPEN FONT LICENSE Version 1.1
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    background: var(--background);
    color: var(--text-color);
}

nav{
    font-size: 15px;
    background-color: var(--card-dark);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    a{
        display: block;
        height: 100%;
        padding: 10px 15px;
        color: var(--text-color);
        text-decoration: none;
    }
    a:hover{
        background-color: var(--card);
    }
}

footer{
    font-size: 15px;
    background-color: var(--card-dark);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-color);
}

.center{
    margin: auto;
}

.error-404-card{
    padding: 4em;
    background-color: gray;
    border-radius: 15px;
}


// 888888888888  88        88  88888888888  88b           d88  88888888888  ad88888ba   
//      88       88        88  88           888b         d888  88          d8"     "8b  
//      88       88        88  88           88`8b       d8'88  88          Y8,          
//      88       88aaaaaaaa88  88aaaaa      88 `8b     d8' 88  88aaaaa     `Y8aaaaa,    
//      88       88""""""""88  88"""""      88  `8b   d8'  88  88"""""       `"""""8b,  
//      88       88        88  88           88   `8b d8'   88  88                  `8b  
//      88       88        88  88           88    `888'    88  88          Y8a     a8P  
//      88       88        88  88888888888  88     `8'     88  88888888888  "Y88888P"   

// This lays out the defults for the themes
// This is Light mode also
:root{
    --HD-red: #F40F35;
    --HD-blue: #0F86F4;
    --HD-yellow: #FFCE1C;
    --HD-green: #51A230;
    --HD-purple: #654EBB;
    --HD-orange: #EC7F35;
    --HD-black: #26262B;
    --HD-white: #C8C8BD;
    --HD-cyan: #37D5F7;
    --HD-pink: #F396BB;
    --HD-grey: #737373;

    --theme-catagory:"light";

    --background: #ffffff;
    --card: #e7e7e7;
    --card-dark: #d5d5d5;
    --text-color: #000000;
}

// This is how a theme is defined
[data-theme="dark"]{
    // theme-category is used for picking the right images for icons
    --theme-category:"dark";

    --background: #1a1a1a;
    --card: #353535;
    --card-dark: #252525;
    --text-color: #ffffff;
}


//   ,ad8888ba,    ,ad8888ba,    88b           d88  88888888ba   
//  d8"'    `"8b  d8"'    `"8b   888b         d888  88      "8b  
// d8'           d8'        `8b  88`8b       d8'88  88      ,8P  
// 88            88          88  88 `8b     d8' 88  88aaaaaa8P'  
// 88            88          88  88  `8b   d8'  88  88""""""'    
// Y8,           Y8,        ,8P  88   `8b d8'   88  88           
//  Y8a.    .a8P  Y8a.    .a8P   88    `888'    88  88           
//   `"Y8888Y"'    `"Y8888Y"'    88     `8'     88  88           


.match-simple-item{
    border-radius: 15px;
    background-color: gray;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.match-simple-item-condensed{
    border-radius: 15px;
    background-color: gray;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0.4fr);
    text-align: center;
}

.flex-list{
    margin: auto auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.popup-menu{
    position: absolute;
    background-color: var(--card);
    color: var(--text-color);
    padding: 15px;
    border-radius: 0 0 15px 15px;
    top:40px;
    flex-direction: column;
    select{
        width: 100%;
        padding: 0.5em 1em;
    }
}